<div class="container">
  <div class="col-md-12">
    <h1>Hello, world!</h1>
  </div>

  <div class="col-md-12">
      <button class="btn btn-primary" type="submit">Learn more</button>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h2 style="display: inline">Example page header</h2>
        <span class="badge badge-secondary">New</span>
      </div>
      <p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de ... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor ... Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ... Volver arriba ↑ The Straightdope, What does the filler text lorem-ipsum ...</p>
    </div>

    <div class="col-md-4">
        <div class="page-header">
          <h2 style="display: inline">Subtitulo 2</h2>
          <span class="badge badge-secondary">New</span>
        </div>
        <p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de ... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor ... Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ... Volver arriba ↑ The Straightdope, What does the filler text lorem-ipsum ...</p>
    </div>

    <div class="col-md-4">
        <div class="page-header">
          <h2 style="display: inline">SubTitulo 3</h2>
          <span class="badge badge-secondary">New</span>
        </div>
        <p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de ... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor ... Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ... Volver arriba ↑ The Straightdope, What does the filler text lorem-ipsum ...</p>
    </div>
  </div>
</div>
